<div class="to-do-list">
  <h1 class="to-do-list__title">To Do List</h1>
  <app-to-do-list-form
    type="text"
    placeHolder="New task title"
    id="new-task"
    showButton
  ></app-to-do-list-form>
  <app-to-do-list-form
    type="search"
    placeHolder="Search task"
    id="search-task"
  ></app-to-do-list-form>
  <app-to-do-list-sub-header></app-to-do-list-sub-header>
  <div class="to-do-list__tasks-wrapper">
    @for (item of tasksList; track item.id) {
      <app-to-do-list-task [id]=item.id  content="{{ item.content }}"></app-to-do-list-task>
    } @empty {
      <p class="to-do-list__empty-message">
        You don't have tasks yet!
      </p>
    }
  </div>
</div>
