@use '../../../assets/styles/palette' as palette;
@use '../../../assets/styles/vars' as var;

:host {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
}

.to-do-list__delete-all {
  border: none;
  background-color: transparent;

  &:hover {
    color: palette.$gray-color-2;
  }
}

.sub-header {
  display: grid;
  gap: 10px;

  &__select-filter {
    width: 100%;
    border: var.$border;
    border-radius: var.$border-radius;
    outline: none;
    font-weight: 400;
  }
}
